@use "sass:meta";

@mixin fontRegister($args...) {
  @debug meta.keywords($args);

  @each $name, $weight in meta.keywords($args) {
    @font-face {
      font-family: "Roboto" + #{$name};
      src: url("../font/Roboto-" + #{$name} + ".ttf") format("truetype");
      font-weight: $weight;
    }
  }
}

@include fontRegister(
    $Light: 300,
    $Regular: 400,
    $Medium: 600,
    $Bold: 800,
)
