*{
    @include paddingXY(); 
    @include marginXY();
    box-sizing: border-box;
    
    @include font("Regular", 16px, 400, $darkGreenColor);
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: $mainColor;
}

ul{
    list-style: none;
}