/* ==== COLORS ==== */
$bronzeColor: #e08f2b;
$goldenColor: #fac583;
$greenColor: #194b41;
$lightGreenColor: #bacdc7;
$mainColor: #fcf5ea;
$beachesColor: #f8ecdb;
$brownColor: #2d2016;
$darkGreenColor: #19342d;

/* ==== PADDING ==== */

/* ==== MARGIN ==== */

/* ==== BORDER ==== */